.hero{
    min-height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    display:flex;
    align-items: center;
    justify-content: center;
}

@media(max-width:768px){
    .hero{
        min-height: 300px;
    }
}