.sidebar{
    width: 250px;
    height: 100vh;
    position: fixed; /* Fix the sidebar position other part will move*/
    top: 0;
    left: 0;
}

.list-group-item:hover{
    background-color: #1a1a1a !important;
    color: yellow !important;

}